<mat-toolbar>
  <div class="navbar">
    <button mat-button [routerLink]="['home']" [routerLinkActive]="'highlight'">
      Home
    </button>
    <button
      mat-button
      [routerLink]="['project-list']"
      [routerLinkActive]="'highlight'"
    >
      Dashboard
    </button>
    <button
      mat-button
      [routerLink]="['reports']"
      [routerLinkActive]="'highlight'"
    >
      Reports
    </button>
    <div class="logout-container">
      <button class="logout" mat-button color="primary" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
